<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test" parallel="tests" thread-count="2">
  <parameter name="URL" value="www.google.com"/>
  <test name="TestNg Basics 1">
   <classes>
     <!-- package.className -->
     <class name="io.restassured.kt.TestNgBasics"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestNg Basics 2">
  	<classes>
 	 <class name="io.restassured.kt.TestNgBasics2">
 	   <methods>
 	    <exclude name="LinuxTest()"/>
 	   </methods>
 	 </class>
  	</classes>
  </test>
</suite> <!-- Suite -->
